*{
  box-sizing: border-box;
  font-family: 'barlow', sans-serif;
}

body{
  margin: 0;
  background-image: linear-gradient(rgba(10, 10 ,10,0.9), rgba(50, 50, 50, 0.9));
  height: 100vh;
}

.menu, .title-section{
  background-color: rgb(26, 26, 26);
  border-bottom: black solid 1px;
  border-right: black solid 1px;

}


